[user]
	email = greg@geekingfrog.com
	name = Grégoire Charvet 黑瓜
	signingkey = 74ED801D1315822A72234DD6E47E16C002977312
[color]
	ui = true
[core]
	editor = nvim
[alias]
	st = status -sb
	co = checkout
	br = branch
	wdiff = diff --word-diff
# pretty one-line log with tags, branches and authors
	ls = log --pretty format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date short
# a verbose ls, shows changed files too
	lsv = log --pretty format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date short --numstat
	lsg = log --graph --decorate --pretty oneline --abbrev-commit --all
	ps = push --recurse-submodules check
	spush = push --recurse-submodules on-demand
	supdate = submodule update --remote --merge

[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	keepbackup = false
	prompt = false
[push]
	default = upstream
[branch]
	autosetuprebase = always
[pull]
	rebase = merges
[diff]
	submodule = log
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	gpgsign = true
