[user]
	email = greg@geekingfrog.com
	name = Grégoire Charvet
[color]
	ui = true
[core]
	editor = vim
[alias]
  st = status
  co = checkout
  br = branch
[merge]
  tool = meld
[mergetool]
  keepBackup = false
[push]
	default = upstream
