[user]
  email = greg@geekingfrog.com
  name = Grégoire Charvet 黑瓜
[color]
  ui = true
[core]
  editor = vim
[alias]
  st = status -sb
  co = checkout
  br = branch
  wdiff = diff --word-diff
[merge]
  tool = meld
[mergetool]
  keepBackup = false
[push]
  default = upstream
[branch]
  autosetuprebase = always
[pull]
  rebase = preserve
