snippet blockcom "big comment block"
################################################################################ 
# $1
################################################################################ 
$0
endsnippet

snippet todo
# TODO: `echo $USER` ${1:description} `!v strftime("%c")`
endsnippet

snippet exp "global"
${1:root} = exports ? this
endsnippet

snippet log "override previeous config" !i
console.log ${1:"${2:msg}"}
endsnippet
