snippet blockcom "big comment block"
################################################################################ 
# $0
################################################################################ 
endsnippet

snippet todo
# TODO: `echo $USER` ${1:description} `!v strftime("%c")`
endsnippet

snippet exp "global"
${1:root} = exports ? this
endsnippet
