snippet div "<div>" !b
<div>
  $0
</div>
endsnippet

snippet div. "div with class"
<div class="$1">
  $0
</div>
endsnippet

snippet div# "div with id"
<div id="$1">
  $0
</div>
endsnippet

snippet div#. "div with id and class"
<div id="$2$" class="$1">
  $0
</div>
endsnippet

snippet ul. "ul with class"
<ul class="$1">
$0
</ul>
endsnippet

snippet li "I like more space" !b
<li>
$0
</li>
endsnippet

snippet li. "li with class"
<li class="$1">
$0
</li>
endsnippet
