snippet div "<div>" !b
<div>
  $0
</div>
endsnippet

snippet div. "div with class"
<div class="$1">
  $0
</div>
endsnippet

snippet div# "div with id"
<div id="$1">
  $0
</div>
endsnippet

snippet div#. "div with id and class"
<div id="$2$" class="$1">
  $0
</div>
endsnippet
